@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-5;
    @apply cursor-pointer;
  }
}

:root {
  --dark1-color: #030027;
  --dark2-color: #151e3f;
  --light1-color: #fdfffc;
  --light2-color: #f3f3f3;
  --primary1-color: #00a6fb;
  /* --primary2-color: #ffd300; */
  --primary2-color: #feff00;
  --primary3-color: #ff7096;
  --secondary1-color: #c5c3c6;
  --secondary2-color: #ccd6f6;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.content-div:hover {
  background-image: repeating-conic-gradient(VAR(--dark2-color) 30%, VAR(--dark1-color) 40%) !important;
}
